body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}
header li{
    display: inline;
    margin: 0 15px;
    background: white;
    border-radius: 10px;
    padding: 15px;
}
a:hover {
    color: white;   
    background-color: purple;
    border-radius: 8px;
    padding: 5px 10px;
    transition: 0.3s;
}
a.categoria {
    display: inline-block;
}

a.categoria:hover {
    background-color: #000000; 
}

main {
    padding: 20px;
    text-align: center;
}
h2 {
    color: #ffffff;
}
img {
    border-radius: 10px;
    margin: 10px 0;
}


