
body {
    font-family: Arial, Helvetica, sans-serif; /* Tipo de fuente de esta et */
    margin: 0;
    padding: 0;
    background-color: #0d1b2a;  
    color: #e0e1dd; 
}
header {
    background-color: #1b263b; 
    color: #e0e1dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo img{
    width: 120px;
    height: auto;
    display: flex; /*para que el logo se vea bien*/
    align-items: center;
    gap: 15px;
}

.searchBar input {
  width: 60%;
  padding: 8px 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #415a77;
  color: #e0e1dd;
}

.searchBar button {
  padding: 8px 12px;
  border: none;
  background: #ff8800; 
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchBar button:hover {
  background: #ff6600; 
}

header li{
    display: inline; /*para que los elementos de la lista esten en linea*/
    margin: 0 15px;
    background: #415a77; 
    border-radius: 10px;
    padding: 15px;
}
a {
    text-decoration: none;
    color: #ffffff; 
}
a:hover {
    color: white;   
    background-color: #ff8800; 
    border-radius: 8px;
    padding: 5px 10px;
    transition: 0.3s;
}
.categoria img{
    width: auto;
    height: 250px;
}
a.categoria {
    display: inline-block;  
}

a.categoria:hover {
    background-color: #ff8800; 
    color: white;
}
.center{
    text-align: center;
    margin-top: 0px;
}

main {
    padding: 20px;
    text-align: center;
}
h2 {
    color: #e0e1dd;
}
img {
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}

.table{
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #1b263b;
}
th, td {
  border: 1px solid #415a77;
  padding: 12px ;
  text-align: left;
}
th{
    background-color: #ff8800; 
    font-weight: bold;
    color: #0d1b2a;
}
td{
    color: #e0e1dd;
}
h3{
    margin-left: 25px;
}
p{
    margin-left: 25px;
    font-family:'Times New Roman',
}

.precio {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 25px;
    color: #ff8800;
    margin-top: 10px;
}

.boton {
    background: #ff8800; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    width: 100px;
    margin-left: 25px;
}
.boton:hover {
    background: #ff6600;
    color: white;
}


.contenedor {
    display: flex;       
    justify-content: space-around;
}

.elemento {
    width: 40% ;          
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.boton {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;  }

.exit {
    margin-top: 10px;
    background-color: #230558; 
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-left: 15px;
}
.exit:hover{
    background-color: #007bff;
}
.star-rating {
  direction: rtl;   /* Para que las estrellas se llenen de derecha a izquierda */
  font-size: 40px;  /* Tamaño de las estrellas */
  display: inline-flex;
  margin-left: 15px;
}
.star-rating input {
  display: none; /* Oculta los radios */
}
.star-rating label {
  color: #ccc;       
  cursor: pointer;
}
/* Estrellas seleccionadas en dorado */
.star-rating input:checked ~ label {
  color: gold;       
}
.perfil{
 width: 30px;
 text-align: right;       
}
/* Color de estrellas vacías */
.star-rating label:hover,
    .star-rating label:hover ~ label {
      color: gold;     
    }

.perfil {
    width: 30px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -50px;
    margin-left: -30px;
}
.perfil:hover {
    transform: scale(1.1); 
    transition: transform 0.3s;
}




