body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}
header li{
    display: inline;
    margin: 0 15px;
    background: white;
    border-radius: 10px;
    padding: 15px;
}
a:hover {
    color: white;   
    background-color: purple;
    border-radius: 8px;
    padding: 5px 10px;
    transition: 0.3s;
}
a.categoria {
    display: inline-block;
}

a.categoria:hover {
    background-color: #000000; 
}
.center{
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}
h2 {
    color: #ffffff;
}
img {
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}
/*Tabla de televisorhtml*/
.table{
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif ;
}
th, td {
  border: 1px solid #000000;
  padding: 12px ;
  text-align: left;
}
th{
    background-color: rgb(223, 193, 193);
    font-weight: bold;
    color: #000000;
}
td{
    color: #000000;
}
h3{
    margin-left: 25px;
}
p{
    margin-left: 25px;
    font-family:'Times New Roman', Times, serif;
}

.precio {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 25px;
}

.boton {
      background: #0d1a6d;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      font-size: 25px;
      width: 100px;
      margin-left: 25px;
 }



